# Dependencies
/node_modules
/packages/client/node_modules
/packages/server/node_modules

# Build artifacts
/packages/client/build
/packages/server/dist

# Environment variables
.env
/packages/server/.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Other
.DS_Store
AuthKey.p8
